body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
    transition: all 300ms;
    text-shadow: 1px 1px 10px rgb(32, 32, 32);
}

.hidden {
    display: none;
}