#greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: whitesmoke;
    font-weight: lighter;
    font-size: 3em;
    text-shadow: 1px 1px 10px rgb(32, 32, 32);
}