#menu {
    position: absolute;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    width: 1.8em;
    height: 1.5em;
    left: 1.5em;
    top: 1.5em;
}

#hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: 2px;
    background-color: whitesmoke;
}

#hidden-menu {
    padding: 0;
    margin: 0;
    height: 100%;
}

#hidden-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5em;
    height: 33%;
    font-size: 0em;
    color: whitesmoke;
    cursor: pointer;
    background-color: transparent;
    text-shadow: 1px 1px 5px rgb(32, 32, 32);
}

#edit-name-form {
    position: inherit;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition: none;
}

#edit-name-input {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    color: whitesmoke;
    font-size: 1.5em;
    text-align: center;
    transition: none;
}

#edit-name-input::placeholder {
    color: rgba(245, 245, 245, 0.8);
}

#edit-name-input:focus::placeholder {
    text-shadow: none;
}

#edit-name-submit {
    width: 0;
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
}