#todo-container {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-110%, -110%);
}

#todo-form :first-child {
    text-align: center;
    width: 12em;
    height: 2em;
    font-size: 1.5em;
    color: rgba(245, 245, 245, 0.8);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid rgba(245, 245, 245, 0.8);
    text-shadow: 1px 1px 10px rgb(32, 32, 32);
    outline-style: none;
    caret-color: rgba(245, 245, 245, 0.8);
}
#todo-form :first-child:focus {
    color: whitesmoke;
}
#todo-form :first-child::placeholder {
    color: rgba(245, 245, 245, 0.8);
}
#todo-form :first-child:focus::placeholder {
    color: transparent;
    text-shadow: none;
}

#todo-list {
    color: rgba(245, 245, 245, 0.8);
    list-style: none;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-height: 18em;
    overflow-y: scroll;
}
#todo-list::-webkit-scrollbar {
    width: 5px;
}
#todo-list::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.4);
    border-radius: 15px;
}

#todo-list li {
    display: flex;
    margin-top: 0.6em;
    align-items: center;
}
#todo-list li span {
    flex: 6 1 0;
    text-shadow: 1px 1px 10px rgb(32, 32, 32);
    word-break: break-all;
}
#todo-list li button {
    flex: 1 1 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgb(32, 32, 32);
    cursor: pointer;
}

#todo-list li label {
    position: absolute;
    left: -10%;
    border: 1px solid whitesmoke;
    width: 0.5em;
    height: 0.5em;
}